<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
      Dashboard
      <small>Control panel</small>
    </h1>
    <ol class="breadcrumb">
      <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
      <li class="active">Dashboard</li>
    </ol>
  </section>    
    <!-- /.row -->
    <!-- Main row -->
    <div class="container">
      <div class="row justify-content-md-center">
       <div class="jumbotron">
        <h3>Familiares</h3>  
        <form>
          <div class="form-group">
            <label for="nm">Nome da mãe</label>
            <input type="text" id="nm" name="name"
              class="form-control" placeholder="Nome da mãe"
              [(ngModel)] = "student.parents.mother.name"/>
          </div>
    
          <div class="form-group">
            <label for="nte">Telefone</label>
            <input type="text" id="nte" name="phone_number"
              class="form-control" placeholder="Telefone"
              [(ngModel)] = "student.parents.mother.phone_number"/>
          </div>
    
          <div class="form-group">
            <label for="emm">email</label>
            <input type="text" id="emm" name="email"
              class="form-control" placeholder="email"
              [(ngModel)] = "student.parents.mother.email"/>
          </div>
    
    
          <div class="form-group">
            <label for="prof">Profissao</label>
            <input type="text" id="prof" name="profession"
              class="form-control" placeholder="Profissao"
              [(ngModel)] = "student.parents.mother.profession"/>
          </div>
    
          <div class="form-group">
            <label for="edt">Endereço de Trabalho</label>
            <input type="text" id="edt" name="work_address"
              class="form-control" placeholder="Endereço de Trabalho"
              [(ngModel)] = "student.parents.mother.work_address"/>
          </div>
    
          <div class="form-group">
            <label for="np">Nome do pai</label>
            <input type="text" id="np" name="name"
              class="form-control" placeholder="Nome da pai"
              [(ngModel)] = "student.parents.father.name"/>
          </div>
    
          <div class="form-group">
            <label for="ntp">Telefone</label>
            <input type="text" id="ntp" name="phone_number"
              class="form-control" placeholder="Telefone"
              [(ngModel)] = "student.parents.father.phone_number"/>
          </div>
    
          <div class="form-group">
            <label for="emp">email</label>
            <input type="text" id="emp" name="email"
              class="form-control" placeholder="email"
              [(ngModel)] = "student.parents.father.email"/>
          </div>
    
          <div class="form-group">
            <label for="profp">Profissao</label>
            <input type="text" id="profp" name="profession"
              class="form-control" placeholder="Profissao"
              [(ngModel)] = "student.parents.father.profession"/>
          </div>
    
          <div class="form-group">
            <label for="edtp">Endereço de Trabalho</label>
            <input type="text" id="edtp" name="work_address"
              class="form-control" placeholder="Endereço de Trabalho"
              [(ngModel)] = "student.parents.father.work_address"/>
          </div>
              <button routerLink="dashboard7" class="btn btn-primary">Próximo</button>
          
          </form>
        </div>
        </div>
      </div>
   </div>


