<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
      Dashboard
      <small>Control panel</small>
    </h1>
    <ol class="breadcrumb">
      <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
      <li class="active">Dashboard</li>
    </ol>
  </section>    
    <!-- /.row -->
    <!-- Main row -->
    <div class="container">
      <div class="row justify-content-md-center">
       <div class="jumbotron col-sm-8">
        <h3>Documentação</h3>
        <form>
          <div class="form-group">
            <label for="exampleInputCpf">CPF</label>
            <input type="number" class="form-control" id="exampleInputCpf" aria-describedby="emailHelp">
          </div>

          <div class="form-group">
            <label for="exampleInputDate">Nis</label>
            <input type="number" class="form-control" placeholder="Somente números">
          </div>

           <div class="form-group">
            <label for="exampleInputDate">Número do Sus</label>
            <input type="number" class="form-control" placeholder="Somente números">
          </div>

          <div class="form-group">
            <label for="exampleInputDate">Número do Rg</label>
            <input type="number" class="form-control" placeholder="Somente números">
          </div>
          <div class="form-group">
            <label for="exampleInputDate">Data de emissão</label>
            <input type="date" class="form-control" placeholder="Somente números">
          </div>
          <div class="form-group">
            <label for="exampleInputAgencia">Agência de emissão</label>
            <input type="text" class="form-control" id="exampleInputAgencia">
          </div>
         <div class="form-group">
            <label for="exampleInputIngress">Ano de entrada</label>
            <input type="date" class="form-control" >
         </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
    </div>
</div>
</div>
