<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
      Dashboard
      <small>Control panel</small>
    </h1>
    <ol class="breadcrumb">
      <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
      <li class="active">Dashboard</li>
    </ol>
  </section>    
    <!-- /.row -->
    <!-- Main row --> 
    <div class="container">
      <div class="row justify-content-md-center">
       <div class="jumbotron">
        <h3>Certificação</h3>
        <form>
          <div class="col-sm-6">
            <div class="form-group">
              <label for="exampleInputCpf">Tipo</label>
              <input type="text" class="form-control" id="exampleInputCpf" aria-describedby="emailHelp">
            </div>

            <div class="form-group">
              <label for="exampleInputDate">Certidão civíl de nascimento</label>
              <input type="text" class="form-control" placeholder="Somente números">
            </div>

            <div class="form-group">
              <label for="exampleInputDate">Número</label>
              <input type="number" class="form-control" placeholder="Somente números">
            </div>

            <div class="form-group">
              <label for="exampleInputDate">N° Livro</label>
              <input type="number" class="form-control" placeholder="Somente números">
            </div>
          </div>

          <div class="col-sm-6">
            <div class="form-group">
              <label for="exampleInputDate">Folha</label>
              <input type="number" class="form-control" placeholder="Somente números">
            </div>
            <div class="form-group">
              <label for="exampleInputAgencia">Data de emissão</label>
              <input type="date" class="form-control" id="exampleInputAgencia">
            </div>
          <div class="form-group">
              <label for="exampleInputIngress">Estado</label>
              <input type="text" class="form-control" >
          </div>
          <div class="form-group">
            <label for="exampleInputIngress">Cidade</label>
            <input type="text" class="form-control" >
          </div>
          <button routerLink="dashboard4" class="btn btn-primary">Próximo</button>
        </div>
        </form>
      </div>
    </div>
</div>
</div>
