<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
      Dashboard
      <small>Control panel</small>
    </h1>
    <ol class="breadcrumb">
      <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
      <li class="active">Dashboard</li>
    </ol>
  </section>    
    <!-- /.row -->
    <!-- Main row -->
    <div class="container">
      <div class="row justify-content-md-center col-sm-8">
       <div class="jumbotron">
        <h3>Nacionalidade</h3>  
        
        <form>
          <div class="form-group">
            <label for="pais">Pais</label>
            <input type="text" id="pais" name="country"
              class="form-control" placeholder="pais"
              [(ngModel)] = "student.documents.nationality.country"/>
          </div>
    
          <div class="form-group">
            <label for="estad">Estado</label>
            <input type="text" id="estad" name="uf"
              class="form-control" placeholder="Estado"
              [(ngModel)] = "student.documents.nationality.uf"/>
          </div>

          <div class="form-group">
            <label for="pais">Pais</label>
            <input type="text" id="pais" name="city"
              class="form-control" placeholder="Cidade"
              [(ngModel)] = "student.documents.nationality.city"/>
          </div>

          <div class="form-group">
            <label for="fny">Comida Especial</label>
            <input type="text" id="fny" name="food_necessity"
              class="form-control" placeholder="Necessidade Especial"
              [(ngModel)] = "student.necessities.food_necessity"/>
          </div>
    
          <div class="form-group">
            <label for="eny">Edução especial</label>
            <input type="text" id="eny" name="educational_necessity"
              class="form-control" placeholder="Edução especial"
              [(ngModel)] = "student.necessities.educational_necessity"/>
          </div>
  
            <button routerLink="dashboard5" class="btn btn-primary">Submit</button>
          </form>
        </div>
      </div>
   </div>
</div>

