<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
      Dashboard
      <small>Control panel</small>
    </h1>
    <ol class="breadcrumb">
      <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
      <li class="active">Dashboard</li>
    </ol>
  </section>    
    <!-- /.row -->
    <!-- Main row -->
    <div class="container">
      <div class="row justify-content-md-center">
       <div class="jumbotron">
        <h3>Informações Basicas</h3>  
        </div>
        <form>
          <div class="form-group">
            <label for="cp">Codigo Postal</label>
            <input type="text" id="cp" name="zip_code"
              class="form-control" placeholder="Codigo Postal"
              [(ngModel)] = "student.home.zip_code"/>
          </div>
    
          <div class="form-group">
            <label for="estd">Estado</label>
            <input type="estd" id="nome" name="uf"
              class="form-control" placeholder="Estado"
              [(ngModel)] = "student.home.uf"/>
          </div>
    
          <div class="form-group">
              <label for="cyt">Cidade</label>
              <input type="text" id="cyt" name="city"
                class="form-control" placeholder="cidade"
                [(ngModel)] = "student.home.city"/>
            </div>
    
            <div class="form-group">
              <label for="barr">Barrio</label>
              <input type="email" id="barr" name="neighorhood"
                class="form-control" placeholder="Barrio"
                [(ngModel)] = "student.home.neighorhood"/>
            </div>
    
    
            <div class="form-group">
              <label for="rur">Rua</label>
              <input type="rur" id="email" name="street"
                class="form-control" placeholder="Rua"
                [(ngModel)] = "student.home.street"/>
            </div>
    
            <div class="form-group">
              <label for="npn">Numero</label>
              <input type="email" id="npn" name="home.number"
                class="form-control" placeholder="Numero"
                [(ngModel)] = "student.home.number"/>
            </div>
    
            <div class="form-group">
              <label for="clt">Complemento</label>
              <input type="email" id="clt" name="complement"
                class="form-control" placeholder="Numero"
                [(ngModel)] = "student.home.complement"/>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
         
          </form>
        </div>
      </div>
   </div>

