<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
      Dashboard
      <small>Control panel</small>
    </h1>
    <ol class="breadcrumb">
      <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
      <li class="active">Dashboard</li>
    </ol>
  </section>    
    <!-- /.row -->
    <!-- Main row -->
    <div class="container">
      <div class="row justify-content-md-center">
       <div class="jumbotron">
        <h3>Informações Basicas</h3>  
        </div>
        <form>
          <div class="col-sm-6">
            <div class="form-group">
              <label for="InputZipCode">Cep</label>
              <input type="number" class="form-control" id="InputZipCode">
            </div>
  
            <div class="form-group">
              <label for="exampleInputDate">Estado</label>
              <input type="text" class="form-control" id="InputUf" 
              placeholder="Data de Nascimento">
            </div>
            
             <div class="form-group">
              <label for="exampleInputCor">Cidade</label>
              <input type="text" class="form-control" id="InputCity">
            </div>
  
           <div class="form-group">
              <label for="exampleInputIngress">Bairro</label>
              <input type="date" id="InputNeighorhood" class="form-control" >
           </div>
          </div>

          <div class="col-sm-6">
           <div class="form-group">
              <label for="exampleInputIngress">Rua</label>
              <input type="text" id="InputStreet" class="form-control" >
           </div>

           <div class="form-group">
              <label for="exampleInputIngress">Número</label>
              <input type="number" id="InputNumber" class="form-control" >
           </div>

           <div class="form-group">
              <label for="exampleInputIngress">Complemento</label>
              <input type="text" id="InputNumber" class="form-control" >
           </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>
          </form>

      </div>
   </div>
</div>

